<?xml version="1.0"?>
<Profile>
	<properties>
    <add	name="FirstName"
				type="System.String"
				allowMarkup="false"
        resourceFile="ProfileResource"
				labelResourceKey="FullNameLabel"
				lazyLoad="false"
        showOnRegistration="true"
				requiredForRegistration="false" 
				maxLength="100"
				columns="45"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="false"
						/>

             
    <add	name="Yahoo" 
				type="System.String"   
				allowMarkup="false"
        		resourceFile="ProfileResource"
				labelResourceKey="PhoneLabel"
				lazyLoad="false"
        		showOnRegistration="true" 
				requiredForRegistration="true"
				maxLength="100"
				columns="45"
				onlyAvailableForRoles=""
				onlyVisibleForRoles=""
				includeHelpLink="false"
				regexValidationExpression="^[0-9]*$"
				regexValidationErrorResourceKey="PhoneValidMessage" 
						/> 
    <add	name="StaffCode"
    			visibleToUser = "false" 
				type="System.String"
				allowMarkup="false"
        		resourceFile="ProfileResource"
				labelResourceKey="Staff Code"
				lazyLoad="false"
        		showOnRegistration="false" 
				requiredForRegistration="false"
				maxLength="100"
				columns="45"
				onlyAvailableForRoles="" 
				onlyVisibleForRoles=""
				includeHelpLink="false" 
						/> 

    <add	name="ERPCustomerCode"
    			visibleToUser = "false" 
				type="System.String" 
				allowMarkup="false"
        		resourceFile="ProfileResource"
				labelResourceKey="ERP Member Code"
				lazyLoad="false"
        		showOnRegistration="false" 
				requiredForRegistration="false"
				maxLength="100"
				columns="45"
				onlyAvailableForRoles="" 
				onlyVisibleForRoles=""
				includeHelpLink="false" 
						/> 
  </properties> 
</Profile>