<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false" enableViewStateMac="false" viewStateEncryptionMode="Auto" maxPageStateFieldLength="100" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Globalization" />
        <add namespace="CanhCam.Business" />
        <add namespace="CanhCam.Business.WebHelpers" />
        <add namespace="CanhCam.Web" />
        <add namespace="CanhCam.Web.Controls" />
        <add namespace="CanhCam.Web.Framework" />
        <add namespace="CanhCam.Web.UI" />
      </namespaces>
      <controls>
        <add tagPrefix="portal" namespace="CanhCam.Web.UI" assembly="CanhCam.Web" />
        <add tagPrefix="gb" namespace="CanhCam.Web.Controls" assembly="CanhCam.Web.Controls" />
        <add tagPrefix="gbe" namespace="CanhCam.Web.Editor" assembly="CanhCam.Web.Editor" />
        <add tagPrefix="ext" namespace="CanhCam.Web.Controls.ExtJs" assembly="CanhCam.Web.Controls" />
        <add tagPrefix="goog" namespace="CanhCam.Web.Controls.google" assembly="CanhCam.Web.Controls" />
        <add tagPrefix="portal" tagName="ChildPageMenu" src="~/Controls/ChildPageMenu.ascx" />
        <add tagPrefix="portal" tagName="Breadcrumbs" src="~/Controls/BreadcrumbsControl.ascx" />
        <add tagPrefix="portal" tagName="SearchInput" src="~/Controls/SearchInput.ascx" />
        <add tagPrefix="portal" tagName="SiteMenu" src="~/Controls/SiteMenu.ascx" />
        <add tagPrefix="portal" tagName="StyleSheet" src="~/Controls/StyleSheet.ascx" />
        <add tagPrefix="portal" tagName="StyleSheetCombiner" src="~/Controls/StyleSheetCombiner.ascx" />
        <add tagPrefix="portal" tagName="MetaContent" src="~/Controls/MetaContent.ascx" />
        <add tagPrefix="portal" tagName="PageMenu" src="~/Controls/PageMenu.ascx" />
        <add tagPrefix="portal" tagName="MembershipStatistics" src="~/Controls/MembershipStatisticsControl.ascx" />
        <add tagPrefix="portal" tagName="OnlineStatistics" src="~/Controls/OnlineStatisticsControl.ascx" />
        <add tagPrefix="portal" tagName="OnlineMemberList" src="~/Controls/OnlineMemberListControl.ascx" />
        <add tagPrefix="portal" tagName="ModuleWrapper" src="~/Controls/ModuleWrapper.ascx" />
        <add tagPrefix="portal" tagName="OpenIDLoginControl" src="~/Controls/OpenIDLoginControl.ascx" />
        <add tagPrefix="portal" tagName="WindowsLiveLoginControl" src="~/Controls/WindowsLiveLoginControl.ascx" />
        <add tagPrefix="portal" tagName="SubscriberPreferences" src="~/Controls/SubscriberPreferencesControl.ascx" />
        <add tagPrefix="portal" tagName="GCheckoutLogList" src="~/Controls/GCheckoutLogList.ascx" />
        <add tagPrefix="portal" tagName="OrderStatusSetting" src="~/Controls/OrderStatusSetting.ascx" />
        <add tagPrefix="portal" tagName="PaymentAcceptanceMark" src="~/Controls/PaymentAcceptanceMark.ascx" />
        <add tagPrefix="portal" tagName="SignInOrRegisterPrompt" src="~/Controls/SignInOrRegisterPrompt.ascx" />
        <add tagPrefix="portal" tagName="PageLastModified" src="~/Controls/PageLastModified.ascx" />
        <add tagPrefix="portal" tagName="ColorSetting" src="~/Controls/ColorSetting.ascx" />
        <add tagPrefix="portal" tagName="GMapTypeSetting" src="~/Controls/GMapTypeSetting.ascx" />
        <add tagPrefix="portal" tagName="GMapZoomLevelSetting" src="~/Controls/GMapZoomLevelSetting.ascx" />
        <add tagPrefix="portal" tagName="Woopra" src="~/Controls/WoopraScript.ascx" />
        <add tagPrefix="portal" tagName="ImageCropper" src="~/Controls/ImageCropper.ascx" />
        <add tagPrefix="portal" tagName="Subscribe" src="~/Controls/Subscribe.ascx" />
        <add namespace="Brettle.Web.NeatHtml" assembly="Brettle.Web.NeatHtml" tagPrefix="NeatHtml" />
        <add namespace="DayPilot.Web.Ui" assembly="DayPilot" tagPrefix="dp" />
        <add namespace="TimelineNet" assembly="TimelineNet" tagPrefix="tl" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
      <tagMapping />
    </pages>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2022.1.302.40" newVersion="2022.1.302.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>