<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <add key="MSSQLConnectionString" value="server=.;UID=sa;PWD=123456;database=beta" />

  <!-- if running in medium trust uncomment this
  <add key="RunningInMediumTrust" value="true" />
  --> 
  <!--
  <add key="SSLIsAvailable" value="true" />
  <add key="ForceSslOnAllPages" value="true" /> 
  -->
  <add key="UseLegacyCryptoHelper" value="false" />
  <add key="CheckMD5PasswordHashAsFallback" value="false" />
  <add key="ShowRebuildSearchIndexButtonToAdmins" value="true" />

  <add key="UseAppKeepAlive" value="false" />
  <add key="AppKeepAliveUrl" value="" />
  <add key="CombineCSS" value="false" />
  <add key="RedirectNonWWWToWWW" value="false" />
  <add key="RedirectWWWToNonWWW" value="true" /> 
  <add key="DisableBannedIpBlockingModule" value="false" />
  <add key="EnableContentWorkflow" value="false" />

  <!--JQuery Setup-->
  <add key="UseGoogleCDN" value="true" />
  <add key="ForceSingleSessionPerUser" value="false" />
  <add key="AllowedUploadFileExtensions" value=".gif|.jpg|.jpeg|.png|.flv|.swf|.wmv|.mp3|.mp4|.m4a|.m4v|.oga|.ogv|.webma|.webmv|.webm|.wav|.fla|.tif|.asf|.asx|.avi|.mov|.mpeg|.mpg|.zip|.pdf|.doc|.docx|.xls|.xlsx|.ppt|.pptx|.pps|.csv|.txt|.htm|.html" />
  <add key="AudioFileExtensions" value=".wma|.mp3|.m4a|.m4a|.oga|.webma|.webm|.wav|.asf|.asx|.fla" />
  <add key="VideoFileExtensions" value=".flv|.swf|.wmv|.mp4|.m4v|.ogv|.webmv|.webm|.avi|.mov|.mpeg|.mpg" />
  <add key="DocumentFileExtensions" value=".doc|.txt|.docx|.xls|.xlsx|.pdf" />
  <add key="ImageFileExtensions" value=".gif|.jpg|.jpeg|.png" />
  <add key="SetMasterInLoginPage" value="true" />
  <add key="SetMasterInChangePasswordPage" value="false" />
  <add key="SetMasterInPasswordResetPage" value="true" />
  <add key="SetMasterInProfilePage" value="false" /> 
  <add key="SetMasterInRecoverPasswordPage" value="true" /> 
  <add key="SetMasterInPageNotFoundPage" value="true" />    
  <add key="UseTokensForRecoveryPassword" value="true" />
  <!--<add key="TooManyPagesForGridEvents" value="0" />-->
  <add key="AllowMultipleSites" value="false" />
  <!--
  <add key="UseRelatedSiteMode" value="true" />
  <add key="UseFoldersInsteadOfHostnamesForMultipleSites" value="true" />
  <add key="EnableImageCDN" value="true" />
  <add key="ImageCDNBaseUrl" value="https://amp.techzones.vn" />
  -->
  <add key="AllowFileExtensionRename" value="false" />
  <add key="TooManyPagesForDropdownList" value="500" />
  <add key="ShowPublishModeSettings" value="true" />

  <add key="EnableHierarchicalFriendlyUrls" value="true" /> 
  <add key="Product:RecentlyViewedProductsEnabled" value="true" />
  <add key="Product:RecentlyViewedProductCount" value="10" />
  
  <!-- Start Store -->
  <add key="Store:Enabled" value="true" />
  <add key="Store:EnabledInventory" value="true" />
  <add key="Store:EnabledAutoSelectStoreDefaultWhenNotValidInventory" value="true" /> 
  <!-- End Store -->

  <!-- Start Product -->
  <add key="Product:DetailPageMessages" value="ProductDetailGlobalMessage;ProductDetailHotLineMessage" />
  <add key="Product:EnableProductSoldOutLetter" value="true"/> 
  <add key="Product:EnableProductZone" value="true"/>  
  <add key="Product:EnableWishlist" value="true"/>  
  <!-- End Product -->

  <add key="EnableRewardPoints" value="true" />
  <add key="GoogleMapsAPIKey" value="AIzaSyDrcIRd8brKWog3Fgn8HvoZjfsy0qa72aw"/>
  <add key="Product:AutoUpdateCommentStats" value="true" />
  <add key="AutomaticallyAddCanonicalUrlToCmsPages" value="true" /> 

  <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="FC313CB3D2C0A26FDD88F8D6EDF1A2555ED4966FB49288F7DE2D618D26F44A2F358B76199E0A6A372E5035DEAD6B9CC968711662E4A4CB2FA5C6B1E5122A42F0" />
  <add key="Telerik.Upload.ConfigurationHashKey" value="DF3761FC446705DD4180A9B9BD265509013A3B9AC1928A67680FE0E5DD6D85EA3C8074CB2478EC7CA47B75DADA9E5EC6D1521227EE35CD6B41113FF6704D9A50" />
  <add key="Telerik.Upload.AllowedCustomMetaDataTypes" value="Telerik.Web.UI.AsyncUploadConfiguration" />
  
  <!--Start VNPay-->
  <!--   
  <add key="VNPAY.CompletedZoneId" value="169"/>
  <add key="VNPAY.PaymentID" value="4"/>
  <add key="VNPAY.SecureHashType" value="sha256"/>
  <add key="VNPAY.HashSecret" value=""/>
  <add key="VNPAY.TmnCode" value=""/>  
  <add key="VNPAY.PayUrl" value="https://pay.vnpay.vn/vpcpay.html"/>
  <add key="VNPAY.ReturnUrl" value="/Product/VNPay/Callback.aspx"/> 
  -->
  <!--End VNPay-->  

  <!--Start MoMo-->
  <!--  
  <add key="MOMO.CompletedZoneId" value="169"/>
  <add key="MOMO.FailedZoneId" value="169"/>
  <add key="MOMO.PaymentMethodId" value="5"/> 
  <add key="MOMO.PartnerCode" value=""/>  
  <add key="MOMO.AccessKey" value=""/> 
  <add key="MOMO.SecretKey" value=""/>
  <add key="MOMO.EndPoint" value="https://payment.momo.vn/gw_payment/transactionProcessor"/> 
  <add key="MOMO.EndPointRefun" value="https://payment.momo.vn/pay/refund"/> 
  <add key="MOMO.NotifyUrl" value="/Product/MoMo/MoMoIPN.aspx"/>
  <add key="MOMO.ReturnUrl" value="/Product/MoMo/MoMoRedirect.aspx"/> -->
  <!--End MoMo-->  

  <!--Start Viettel Post-->
  <!--  
  <add key="ViettelPost:urlService" value="https://partner.viettelpost.vn/v2" />
  <add key="ViettelPost:apiKey" value="eyJhbGciOiJFUzI1NiJ9.eyJzdWIiOiIwOTgxNzg4MTc1IiwiVXNlcklkIjo4MzgxMDA4LCJGcm9tU291cmNlIjo1LCJUb2tlbiI6IjA0VlZOWkE5VEwxSU1XVkNNTzgiLCJleHAiOjE3MDQwMTU2NzAsIlBhcnRuZXIiOjgzODEwMDh9.Oe4e0IgYvDLSmW8iF_ZP-RpuIiOtJbeBvnoF7I34hK6it30DtrJ0y_rJC4DBUSaH0q20Mr1ud6t3CvWL6tsbtA" /> 
  <add key="ViettelPost:SenderWARD" value="11067"/> 
  <add key="ViettelPost:SenderDistrict" value="658" />
  <add key="ViettelPost:SenderProvince" value="58" />  
  <add key="Sender:FullName" value="" />  
  <add key="Sender:Address" value="" />
  <add key="Sender:Phone" value="" />
  <add key="Sender:Email" value="" />
  <add key="ViettelPost:ShippingMethodId" value="9" /> 
  <add key="VittelPost_CUS_ID" value="" />  
  <add key="ViettelPost:DisableService" value="V02;PTN"/>  
  -->
  <!--End Viettel Post-->   

  <!--Start RewardPoints-->
  <!--   
  <add key="RewardPoints:Enable"  value="true"/>
  <add key="RewardPoints:ExchangeRate"  value="1000"/>  
  <add key="RewardPoints:MinimumRewardPointsToUse"  value="0"/>
  <add key="RewardPoints:PointsForPurchasesAmount"  value="1000"/>
  <add key="RewardPoints:PointsForPurchasesPoints"  value="0.01"/>  
  <add key="RewardPoints:PointsForPurchases_Awarded"  value="99"/>  
  <add key="RewardPoints:ReduceRewardPointsAfterCancelOrder"  value="true"/> 
  -->
  <!--End RewardPoints--> 

  <!-- ERP -->
  <!--
  <add key="ERP:Enable" value="true"/>     
  <add key="ERP:EnableValidVoucherInERP" value="true"/>  
  <add key="ERP:RewardPointEnable" value="true"/>
  <add key="ERP:AutoSyncWhenOrderCompleted" value="true"/>  
  -->
  <!-- End ERP-->    
 
  <!-- Voucher -->
  <add key="Shopping:VoucherEnable" value="true"/>
  <!-- End Voucher-->

  <add key="Promotion:DisableDiscountTypes" value=""/> 
  <add key="Product:CartPageId" value="165"/> 
  <add key="Order:CheckoutPaymentNotSuccessdTemplate"  value="true"/> 
  <add key="Store:ShippngFeeForStore" value="true"/>
  <add key="TooManyPagesForDropdownList" value="10000"/>
  <add key="DisableExportProductNonCode" value="false"/> 

  <!-- Order -->
  <add key="Order:StaffEnable" value="true"/>
  <add key="Order:StaffProcessEnable" value="true"/> 
  <add key="Order:ValidateStatusWhenCompleted" value="true"/> 
  <!-- End Order --> 
    
  <add key="Product:EnableProductJsonSchema" value="true"/> 
  <add key="Article:EnableNewsJsonShema" value="true"/> 
  <add key="Shipping:EnableFastShipping" value="true"/>   
  <add key="Shipping:FastShipMethodId" value="13"/>  
  <add key="Manufacturer:EnableValidateExistByTitle" value="true"/> 
  <add key="Dealer:FilterExist" value="true"/> 
  <add key="DisableDealerLocatorScripts" value="true"/>

  <!-- Login -->
  <!-- 
  <add key="GoogleClientId" value="411192357919-6c0n31pf77qr3movid676c9gopj1b87q.apps.googleusercontent.com"/> 
  <add key="GoogleSecret" value=""/>
  <add key="FacebookAppId" value=""/> 
  <add key="FacebookAppSecret" value=""/> 
  -->
  <!-- End Login -->
  <add key="AutoSuggestFriendlyUrlsOnZoneNameChanges" value="false"/>  
  <add key="FormWizard:EnableRegexValidation" value="true"/>  
  <add key="Product:EnableShoppingCartAttributes" value="true"/>  
  
  <add key="ProductDetail:ForceRedirectToFriendlyUrl" value="true"/>  
</appSettings>   